.item {
  background-color: #1e1e1e;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding: 2px;
}

.toolbar {
  display: flex;
  gap: 5px;
  align-items: center;
  background-color: #323232;
  border-radius: 4px;
}

.toolbar .error {
  color: #ffcaca;
}

.toolbar .name {
  font-size: inherit;
  margin: 0;
}

.toolbar .name:hover:not(.previewDisabled) {
  cursor: pointer;
  text-decoration: underline dotted;
}

.options {
  flex-grow: 1;
  display: flex;
  gap: 10px;
  height: 100%;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: gray #323232;
  align-items: center;
}

.options > * {
  display: flex;
  gap: 6px;
}

.output {
  height: 200px;
}

.error {
  color: #ff5c5c !important;
}

.item button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: var(--ifm-color-primary);
  border-radius: 4px;
  border: none;
  font-weight: bold;
}

.item button:hover {
  opacity: 0.6;
}

.item textarea {
  border: none;
  resize: none;
  background-color: transparent;
  color: #fafafa;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.item input {
  background-color: transparent;
  color: #fafafa;
  border: none;
  border-bottom: 1px solid #fafafa;
  text-align: center;
  accent-color: var(--ifm-color-primary);
  box-sizing: border-box;
  font-size: 12px;

  width: 24px;
}

.item input[type="checkbox"] {
  width: auto;
}

.item p {
  margin: 0;
}
