.container {
  height: 80vh;
  display: flex;
}

.container > * {
  flex: 1 0;
  height: auto !important;
}

.grid {
  flex: 1 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  align-content: flex-start;
  list-style: none;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}
